.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .center {
    /* border: 5px solid #FFFF00; */
    /* text-align: center; */
    display:flex;
    align-items: center;
    }